.group-settings {
	&__groups-wrapper {
		height: calc(100vh - 59.5rem);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 3rem 0;
		overflow-y: auto;
	}

	&__groups-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-size: 2rem;
			font-weight: 600;
		}
	}

	&__select-wrapper {
		display: flex;
		align-items: center;
		column-gap: 2rem;

		span {
			font-weight: 400;
		}
	}
}
.custom-modal .ant-modal-title,
.custom-modal .ant-modal-content {
	background-color: #1c1c1c !important; /* Задаємо колір фону */
  	color: white;
}
.custom-modal .ant-modal-footer{
	display: flex;
	justify-content: space-between;
}