.group-settings {
	height: 100vh;
	display: grid;
	// grid-template-rows: 39.5rem calc(100vh - 24rem);
	grid-template-rows: 1fr auto;
	padding: 10rem 2rem 3rem 2rem;
	font-family: "Montserrat", sans-serif;

	&__groups-wrapper {
		// 10rem + 3rem + 3rem + 6 + 3 + 1.5rem + 2rem + 3rem = 31.5
		// 3 rem + 5rem = 8
		// 3rem + 5rem + 5rem + 1rem = 14
		// ------- 53.5 = 428px | 622 - 428 = 194 / 8 = 24.5rem
		height: calc(100vh - 59.5rem);
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin: 3rem 0;
		overflow-y: auto;
	}

	&__groups-item {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-size: 2rem;
			font-weight: 600;
		}
	}

	&__select-wrapper {
		display: flex;
		align-items: center;
		column-gap: 2rem;

		span {
			font-weight: 400;
		}
	}
}
