.settings {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	padding: 10rem 2rem 3rem 2rem;
	font-family: "Montserrat", sans-serif;

	&__info-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 3rem 0;
	}

	&__info-item {
		font-size: 2rem;

		span {
			font-weight: 500;
		}
	}

	&__template-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__template-text {
		display: flex;
		align-items: center;
		column-gap: 0.5rem;
		font-size: 2rem;
		line-height: 1;

		span {
			font-weight: 500;
			text-transform: uppercase;
		}
	}

	&__choose-template {
		border: none;
		background-color: #000;
		color: #fff;

		&:hover {
			color: #fff !important;
			border: 1px solid #fff !important;
		}
	}
}
