.bot-settings {
	&__inputs-wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-bottom: 3rem;
	}

	&__input-label {
		font-size: 2rem;
		margin-bottom: 1rem;
	}
}

.bot-settings__input-wrap {
	display: flex;
	align-items: center;
}

.change-proxy {
	width: 30rem;
	margin-right: 1rem;
	height: 40px;

	.ant-select-selection-item {
		font-size: 18px;
	}
}

.change-proxyIPPORT {
	color: #ffffff;
	width: 70rem;
}

// .ant-select-arrow{
// 	color: white;
// 	width: 2px;
// }
// .ant-select-selector {
// 	font-size: 20px;
// 	color: #000 !important;
// 	border: none !important;
// 	box-shadow: none !important;
// 	border: none;
// 	background: none;
// }
// .ant-select-selection-item {
// 	color: #ffffff;
// }