.new-application {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	padding: 10rem 2rem 3rem 2rem;
	font-family: "Montserrat", sans-serif;

	&__selects-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		row-gap: 2rem;
		margin: 3rem 0;
	}

	&__select-title {
		font-size: 1.8rem;
	}

	&__phone-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__phone-title {
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
	}

	&__tip-wrapper {
		width: 85%;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 1rem;
		margin: 0 auto;
	}

	&__tip-text {
		margin: 0;
	}

	&__tip-icon {
		font-size: 24px;
		color: #fac335;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__footer-text {
		width: 85%;
		margin: 0 auto;
		text-align: center;

		span {
			text-decoration: underline;
		}
	}

	&__footer-button-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}

.button_back {
	border: 1px solid #1d6183;
	background-color: #1d6183;
	color: #fff;

	&:hover {
		background-color: #4cbded;
		color: #fff !important;
	}
}
