.phone-validation {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	padding: 10rem 2rem 3rem 2rem;
	font-family: "Montserrat", sans-serif;

	&__code-wrapper {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__input-title {
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
	}

	&__input-wrapper {
		display: flex;
		column-gap: 1rem;
	}

	&__timer-wrapper {
		margin-bottom: 0;
		text-align: center;

		span {
			width: 2rem;
			display: inline-block;
			margin-right: 0.25rem;
		}
	}

	&__footer {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
	}

	&__footer-text {
		text-align: center;
		margin-bottom: 0;
	}
}
