.products {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    .products__wrap {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .products__header {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
            font-size: 35px;
            font-weight: bold;
        }
        .products__moonths-change {
            display: flex;
            margin-top: 25px;
            align-items: center;
        }
        .products__change-currency  {
           display: flex;
           align-items: center;
            .ant-select-selection-item {
                font-weight: 500;
               padding-right: 15px;
            }
                .ant-select-arrow {
                    color: #fff;
                }
            .ant-select-selector {
                border: none;
                padding: 24px 15px;
                border-radius: 25px;
                font-size: 17px;
                background: #66A8C8;
            }

        }
        .product__list-moonths-change {
            display: flex;
            padding: 0;
            border-radius: 25px;
            cursor: pointer;
            margin-right: 20px;
            margin-bottom: 0px;
            background: #1D3039;   
            label {
                border-radius: 25px;
                li {
                    cursor: pointer;
                background: #1D3039;
                border-radius: 25px;
                list-style: none;
                padding: 15px 20px;
                &:hover {
                    font-weight: 500;
                    transition: .5s;
                    background: #66A8C8;
                }
                }
                input[type="radio"] {
                    display: none;
                    &:checked {
                      + li {
                        background: #66A8C8;
                        span {
                          transform: translateY(70px);
                          &:before {
                            transform: translateY(0px);
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
            }
        }
    }
}
@media screen and (max-width: 530px) {
    .products__moonths-change {
        display: flex;
        flex-direction: column;
    }
    .products .products__header .product__list-moonths-change {
        margin-right: 0px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 490px) {
    .products {
        .products__header {
            .product__list-moonths-change label li {
                padding: 10px;
            }
        }
    }
    .products__wrap {
        padding: 0px 20px;
        width: 100%;
    }
}
